<ng-container *ngFor="let navClass of ['nav-tabs d-none d-lg-flex', 'nav-pills d-lg-none flex-column']">
  <ul class="nav" [ngClass]="navClass">
    <li class="nav-item" *ngFor="let track of tracks; let trackId = index"><a class="nav-link" [routerLink]="['../' + trackId]"
        routerLinkActive="active">{{
        track.Title }}</a></li>
  </ul>
</ng-container>
<div class="pt-5">
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar">
        <h3 *ngIf="selectedTrack">{{ selectedTrack.Title }}</h3>
        <p *ngIf="selectedTrack == null">
          Track was not found. Please select a valid track from the track list.
        </p>
      </nav>
      <ul class="nav mb-5 at-side-nav">
        <li class="nav-item border-top w-100" *ngFor="let session of selectedTrackSessions">
          <a class="nav-link text-dark" [routerLink]="['/video-archive/tracks/' + selectedTrackId + '/sessions/' + session.Id]"
            routerLinkActive="bg-light">
            <strong>{{ session.Title }}</strong>
            <ng-container *ngFor="let speaker of session.Speakers">
              <br /><small class="text-secondary" [innerHTML]="speaker | speaker"></small>
            </ng-container>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
