<header>
  <nav class="navbar navbar-dark bg-primary">
    <h3>
      <a class="navbar-brand" [routerLink]="['/']"><strong>ATLASSIAN</strong></a>
    </h3>
  </nav>
</header>
<div class="container-fluid">
  <section class="pt-5">
    <h2 class="text-center mb-3"><strong class="text-primary">ATLASSIAN</strong> Summit</h2>
    <h4 class="text-secondary text-center mb-5">{{ title }}</h4>
    <router-outlet></router-outlet>
  </section>
  <footer></footer>
</div>
