<ng-container *ngIf="selectedSession == null">
  <h1 class="mb-4">Session not found</h1>
  <p>Please select a valid session.</p>
</ng-container>
<ng-container *ngIf="selectedSession != null">
  <h1 class="mb-4">{{ selectedSession.Title }}</h1>
  <section class="mb-3">
    <div *ngFor="let speaker of selectedSession.Speakers"><strong [innerHTML]="speaker | speaker"></strong></div>
  </section>
  <section>
    <p>{{ selectedSession.Description }}</p>
    <p><a [routerLink]="['.']">See the Q&amp;A from this talk and others here.</a></p>
  </section>
  <section *ngIf="selectedSession.Speakers" class="at-about-speaker">
    <h3 class="mb-4">About the speaker<span *ngIf="selectedSession.Speakers?.length > 1">s</span></h3>
    <ng-container *ngFor="let speaker of selectedSession.Speakers">
      <div [innerHTML]="speaker | speaker"></div>
      <p>{{ speaker.Biography }}</p>
    </ng-container>
  </section>
</ng-container>
